go 1.24.0

toolchain go1.24.3

use (
	./libs/application
	./libs/config
	./libs/kafka
	./libs/model
	./libs/network
	./libs/proto

	./services/api-gateway
	./services/cli
	./services/result-service
	./services/scheduler-service
	./services/storage-service
	./services/task-service
	./services/worker
	./services/worker-manager
)
